name: Lint
on: [pull_request]

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: './package.json'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  danger:
    permissions:
      contents: read # to fetch code (actions/checkout)
      issues: write # to create comment
      pull-requests: write # to create comment
      statuses: write # to set PR status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Danger
        uses: danger/danger-js@12.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
