name: Check Markdown links

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'
  pull_request:
    paths:
      - '**/*.md'
      - 'markdown_link_check_config.json'

permissions:
  contents: read

jobs:
  prepare-yarn-cache-ubuntu:
    uses: ./.github/workflows/prepare-cache.yml
    with:
      os: ubuntu-latest

  markdown-link-check:
    needs: prepare-yarn-cache-ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: yarn
      - name: install
        run: yarn
      - name: Run markdown-link-check on MD files
        run:
          find . -name "*.md" | grep -v node_modules | grep -v CHANGELOG.md |
          xargs -n 1 yarn markdown-link-check -c markdown_link_check_config.json
