name: Check Markdown links

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'
  pull_request:
    paths:
      - '**/*.md'
      - 'markdown_link_check_config.json'

permissions:
  contents: read

jobs:
  prepare-yarn-cache-ubuntu:
    uses: ./.github/workflows/prepare-cache.yml
    with:
      os: ubuntu-latest

  markdown-link-check:
    needs: prepare-yarn-cache-ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: yarn
      - name: install
        run: yarn
      - name: Run markdown-link-check on MD files
        run:
          find . -name "*.md" | grep -v node_modules | grep -v CHANGELOG.md |
          xargs -n 1 yarn markdown-link-check -c markdown_link_check_config.json
