name: Unit tests & Release

on:
  push:
    branches:
      - main
      - next
  pull_request:
    branches:
      - main
      - next

jobs:
  prepare-yarn-cache:
    name: Prepare yarn cache
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v2.1.5
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn2-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn2-
      - name: Validate cache
        env:
          # Use PnP and disable postinstall scripts as this just needs to
          # populate the cache for the other jobs
          YARN_NODE_LINKER: pnp
          YARN_ENABLE_SCRIPTS: false
        run: yarn --immutable

  test-node:
    name:
      # prettier-ignore
      Test on Node.js v${{ matrix.node-version }} and eslint v${{matrix.eslint-version }}
    needs: prepare-yarn-cache
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x, 16.x]
        eslint-version: [5, 6, 7]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn2-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn2-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}
      - name: install with eslint v${{matrix.eslint-version }}
        run: |
          yarn
          yarn add --dev eslint@${{matrix.eslint-version }}
      - name: run prettier
        run: yarn prettier:check
      - name: run typecheck
        run: yarn typecheck
      - name: run tests
        # only collect coverage on eslint versions that support the suggestions api
        run: yarn test --coverage ${{ matrix.eslint-version >= 6 }}
        env:
          CI: true
      - uses: codecov/codecov-action@v1.4.1
        if: ${{ matrix.eslint-version >= 6 }}
  test-os:
    name: Test on ${{ matrix.os }} using Node.js LTS
    needs: prepare-yarn-cache
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn2-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn2-
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - name: install
        run: yarn
      - name: run prettier
        run: yarn prettier:check
      - name: run typecheck
        run: yarn typecheck
      - name: run tests
        run: yarn test --coverage
        env:
          CI: true

  docs:
    if: ${{ github.event_name == 'pull_request' }}
    needs: prepare-yarn-cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn2-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn2-
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - name: install
        run: yarn
      - name: regenerate docs
        run: yarn tools:regenerate-docs
      - name: report regenerated docs
        run: |
          git diff --name-only \
            | xargs -I '{}' bash -c \
              'echo "::error file={}::This needs to be regenerated by running \`tools:regenerate-docs\`" && false'

  release:
    if:
      # prettier-ignore
      ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
    name: Release new version
    needs: [test-node, test-os]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn2-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            yarn2-
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x
      - name: install
        run: yarn
      - run: yarn semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
