name: Smoke test

on:
  schedule:
    - cron: '0 0 * * SUN'
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  test:
    permissions:
      contents: read # to fetch code (actions/checkout)
      issues: write # to create comment
      pull-requests: read # for searching pull requests

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: 16
      - run: |
          npm install --legacy-peer-deps
          npm run build
          npm link
          npm link eslint-plugin-jest
      - uses: AriPerkkio/eslint-remote-tester-run-action@v4
        with:
          issue-title: 'Results of weekly scheduled smoke test'
          eslint-remote-tester-config: eslint-remote-tester.config.ts
