name: Smoke test

on:
  schedule:
    - cron: '0 0 * * SUN'
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  test:
    permissions:
      contents: read # to fetch code (actions/checkout)
      issues: write # to create comment
      pull-requests: read # for searching pull requests

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          # This is set to the lowest Node.js version we support
          node-version: 20
          cache: 'yarn'
      - run: |
          yarn install
          yarn build
          ln -s ../ node_modules/eslint-plugin-jest
      - uses: AriPerkkio/eslint-remote-tester-run-action@c0213f3c3b320c3dac16578ed9d0ba8af148a1a8 # v4.1.0
        with:
          issue-title: 'Results of weekly scheduled smoke test'
          eslint-remote-tester-config: eslint-remote-tester.config.ts
